*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
google-services.json
release/
**/*.jks
**/*.keystore
keystore.properties
fastlane/report.xml
fastlane/README.md
